singularity.enabled=true

params {

  // -------------------------
  // Input/Output directories
  // -------------------------
  input_dir       = "$baseDir/fastq/"
  fastq_dir       = "${params.input_dir}"
  reference_dir   = "$baseDir/reference/"
  outdir	  = "$baseDir/results/"
  reference_fasta = "${params.reference_dir}/btv_refseq.fasta"  

  outdir           = "results"
  publish_dir_mode = "link"
 
  // pattern to match for fastq files
  input_pattern         = "*.fastq.gz"
 
}

 
process {
   // setup saving output files
   withLabel: '!no_publish' {
      publishDir = [
          path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
          mode: params.publish_dir_mode,
      ]
   }
}
