singularity.enabled=true

params {

  // -------------------------
  // Input/Output directories
  // -------------------------
  input_dir       = "$baseDir/fastq/"
  fastq_dir       = "${params.input_dir}"
  reference_dir   = "$baseDir/reference/"
  outdir	  = "$baseDir/results/"  
 
  // pattern to match for fastq files
 input_pattern         = "FABADRU_*.fastq.gz"
 
 // where scripts written by MDS are found
  script_dir            = "$baseDir/scripts/"

}
